<h1 class="menu-title"><i class="fa fa-file-text-o icon-menu"></i>消费订单</h1>
<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <% var hasMenu = {};for(var i = 0;i < session.roleData.length;i++) {
            var tmp = session.roleData[i].split(":"), code;
        if(tmp[1].startsWith('oms_')){
            code = tmp[1].substring(4);
            if (hasMenu[code])
                continue;
            hasMenu[code] = true;
            console.log(tmp[2]);
        if(tmp.length == 5){ %>
        <li role="separator" class="divider"></li>
        <% } %>
        <li class="nav-item <%= code %>">
            <a data-menu="<%= code %>" class="nav-link" href="<%= ctx %>/oms/<%= code %>">
                <i class="fa fa-<%= tmp[3] %> icon-menu"></i><%= tmp[2] %>
            </a>
        </li>
        <% } } %>
    </ul>
</div>
