<div class="clearfix"></div>
<footer class="container-fluid" style="position: fixed;bottom: 0;left: 0;right: 0;text-align: center;box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);background-color: #fff;">
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-4" id="myFavorBtn">
            <div class="bottom-menu-img-1"><img src="<%= global.config.publicPath %>/page/images/icon/menu_star.png %>"> </div>
            <div class="bottom-menu-text">我的最爱</div>
        </div>
        <div class="col-xs-4 bottomMenu" data-link="<%= ctx %>/wechat/mall?type=1">
            <div class="bottom-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_car.png %>"> </div>
            <div class="bottom-menu-text">积分商城</div>
        </div>
        <div class="col-xs-4 bottomMenu" data-link="<%= ctx %>/wechat/coupon?status=1">
            <div class="bottom-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_ticket.png %>"> </div>
            <div class="bottom-menu-text">我的优惠券</div>
        </div>
    </div>
</footer>
