<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav">
        <div class="nav" id="side-menu">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/person">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_tag.png %>"> </div>
                        <div class="nav-menu-text">个人<br/>信息</div>
                    </div>
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/mobile">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_wrench.png %>"> </div>
                        <div class="nav-menu-text">安全<br/>设置</div>
                    </div>
                  <!--  <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/rights">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_crown.png %>"> </div>
                        <div class="nav-menu-text">会员<br/>权益</div>
                    </div>-->
                    <!--<div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/address">-->
                        <!--<div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_txt.png %>"> </div>-->
                        <!--<div class="nav-menu-text">地址簿<br/>管理</div>-->
                    <!--</div>-->
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/mall?type=1">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_car.png %>"> </div>
                        <div class="nav-menu-text">积分<br/>商城</div>
                    </div>
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/coupon?status=1">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_ticket.png %>"> </div>
                        <div class="nav-menu-text">我的<br/>优惠券</div>
                    </div>
                  <!--  <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/orderDetail">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_money.png %>"> </div>
                        <div class="nav-menu-text">消费<br/>记录</div>
                    </div>-->
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/couponExchange">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_gift.png %>"> </div>
                        <div class="nav-menu-text">优惠券<br/>兑换</div>
                    </div>
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/message">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_paper.png %>"> </div>
                        <div class="nav-menu-text">金玉<br/>良言</div>
                    </div>
                    <div class="col-xs-6 nav-slider-menu" data-link="<%= ctx %>/wechat/lucky">
                        <div class="nav-menu-img"><img src="<%= global.config.publicPath %>/page/images/icon/menu_txt.png %>"> </div>
                        <div class="nav-menu-text">每日<br/>签到</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Left navbar-header end -->