<h1 class="menu-title"><i class="fa fa-file-text-o icon-menu"></i>物料管理</h1>
<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <% var hasMenu = {},k=1;for(var i = 0;i < session.roleData.length;i++) {
            var tmp = session.roleData[i].split(":"), code;
        if(tmp[1].startsWith('pcm_')){
            code = tmp[1].substring(4);
            if (hasMenu[code])
                continue;
            hasMenu[code] = true;
        if(tmp.length == 5){ %>
        <li role="separator" class="divider"></li>
        <% } %>
        <li class="nav-item <%= code %>">
            <a data-menu="<%= code %>" class="nav-link" href="<%= ctx %>/pcm/<%= code %>">
                <%= '【'+(k>9?k:'0'+k)+'】'+tmp[2] %>
            </a>
        </li>
        <% k++; } } %>
    </ul>
</div>
